@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
  overflow:hidden;
}

@media (prefers-color-scheme: dark) {
}

body:has(.no-doc-scroll .no-scroll) {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    overflow: hidden;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
